
body{
  background-color: #282c34;
}

header{
  background-color: #282c34;
  height: 45px;
}

.header__div{
  height: 30px;
  border: 1px solid;
  background: #2b2b2b;
}
.header__message{
  margin-top: 15px;
}
.header__text{
  color: white;
  margin-left: 3rem;
  font-size: 20px;
}

.requestbtn{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 14px 45px;
  cursor: pointer;
  float: right;
}
 
 ul{
  color: white;
  list-style: none;
  padding: 0;
  display: flex;
}

.wrapper{
  background: white;
    height: 300vh;
    margin: 10px;
}

.wrapper__tabs{
  background-color: #282c34;
}

.wrapper__tabs li{
  padding: 10px;
background-color: #484848;
  width: 8rem;
 
}
.wrapper__tabs .active{
  border-top: 2px solid red;
  background: white;
}

.wrapper_content{
  margin: 40px;
  height: 80vh;
}

.wrapper_content .upper{
  height: 10px;
  background: #f3f3f3;
  padding: 18px;
  border-radius: 3px;
}

.wrapper_content .left__part{
  float: left;
  width: 31%;
}

.wrapper_content .right__part{
    height: 200px;
    float: right;
    width: 67%;
}


.category__list{
  padding: 3px;
  margin-top: -8px;
}
#category_menu {
  list-style: none;
}

#category_menu li {
  display: inline;
  padding: 0 10px;
  border-left: solid 1px #767676;;
}

.category_menu_btn li:first-child {
  border-left: none  !important;
}

.category_menu_btn span.fa {
  height: 18px;
  width: 18px;
  font-size: 18px;
  color: #252525;
}


.d-flex{
  display: flex;
}
.d-col-flex{
  display: flex;
  color: black;
  flex-direction: column;
  font-size: 9px;
}

.card__wrapper{
  border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
}

.card__top{
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card__left{
  flex: 0 0 58%;
    max-width: 58.333333%;
    margin-top: 12px;
}

.card__right{
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  display: flex;
  margin-top: 10px;
}

.p-5{
  padding: 5px;
}
.m-5{
  margin: 5px;
}

.card__buttom{
  display: flex;
}

.buttom__right{
  right: 0;
  font-size: 10px;
  line-height: 5;
}

.buttom__left{
  width: 90%;
}

.comman_btn{
  padding: 10px;
  background: #3E505C;
  color: white;
  border: 0;
  font-size: 10px;
}

.reject{
  background-color: white;
  color: black;
  border: 1px solid #3E505C
  ;
}

.category__name{
  color: #767676;
  font-size: 12px;
}

.category__type{
 font-size: 12px;
 font-weight: bold;
 color: #252525;
}

.request_icon{
  height: 15px;
    width: 15px;
    color: #86860ce0;
    font-size: 15px;
}


.otheractions{
  margin-top: -7px;
    margin-bottom: 10px;
}

.otheractions .fa{
  height: 15px;
  width: 15px;

}

.other_details{
  font-size: 12px;
  padding: 3px;
}

.other_details> .msg{
  font-size: 12px;
  color: #252525;
  margin-left: 5px;
}


button.button-default:hover {
  background-color: #A4000D;
}
button.small:hover {
  background-color: #A4000D;
}

.btn-container .button-default{
  font-size: 14px;
  color: #fff;
  background: #DB0011;
  border: none;
  padding: 12px;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

.btn-container .small{
  font-size: 14px;
  color: #fff;
  background: #DB0011;
  border: none;
  padding: 12px;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

.btn-container .secondary{
  font-size: 14px;
  color: #fff;
  background: #4D6474;
  border: none;
  padding: 12px;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

button.secondary:hover {
  background-color:#3E505C;
}

button.tertiary:hover {
  background-color:#000000;
  opacity: 0.7;
}

.btn-container .tertiary{
  font-size: 14px;
  color: #252525;
  background: white;
  border: none;
  padding: 12px;
  border: 1px solid #252525;
  color: #252525;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}